<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <title>Geometría</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="">
        <form class="form-ejercicios">
            <div class="form">
                <h1 style="font-size: 2em;">Geometría:</h1>
                <div class="grupo-1">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../img/Cuadrado.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../img/Triangulo.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class=" grupo-1">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../img/Rectangulo.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../img/Circulo.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
               
                <div id="form">
             
                </div> 
                <div id="espacioregresar">   
                    <a href="../index.html" id="botonregresar"><i class="fa-solid fa-arrow-left" id="iconoregresar"></i></a>
                    </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/convertidor.js"></script>
</body>
</html>